.bubble {
  border: 1px solid;
  display: inline-block;
  width: 80px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333333;
  margin: 0 auto;
}
header {
  width: 100%;
  text-align: center;
  background-color: #5e7392;
  color: white;
  font-size: 30px;
  line-height: 50px;
}
header span {
  margin-right: 70px;
}
header img {
  top: 3px;
  margin-left: -60px;
  position: absolute;
  width: 50px;
}
main {
  margin: 8px;
}
.sortascend::after {
  content: "▲";
  position: absolute;
}
.sortdescend::after {
  content: "▼";
  position: absolute;
}
#diagnostics > table {
  width: 100%;
}
#traffic table {
  border-collapse: collapse;
  width: 100%;
}
#traffic tr:nth-child(2n){
  background-color: lightgrey;
}
#traffic td:nth-child(1){
  padding-right: 20px;
}
#traffic th {
  text-align: left;
  background-color: lightblue;
  padding-right: 20px;
  cursor: pointer;
  user-select: none;
}
#resetinfo {
  position: absolute;
}
